<button *ngIf="" class="blue-centered" routerLink="/login">Login</button>
<button *ngIf="" class="blue-centered" (click)="logout()">Logout</button>

<h1>Webbit</h1>
<blockquote>The web side of the internet</blockquote>

<!-- Navigeringsmeny -->
<nav>
    <ul>
        <div class="wrapper">
            <li>
                <a routerLink="/">Home</a>
            </li>
            <li>
                <a routerLink="/user/:_id">Profile</a> <!-- LÄGG TILL USER._ID FRÅN SESSION(?)!!!!!!!!!!!!!!!!!!! -->
            </li>
            <li>
                <a routerLink="/search">Search</a>
            </li>
            <li>
                <a routerLink="/admin">Admin</a>
            </li>
        </div>
    </ul>
</nav>